html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #263637;
  position: relative;
}

h1 {
  font-weight: bold;
  margin: 15px 0px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
}

h3 {
  text-decoration: underline;
}

.main {
  color: #263637;
  background-color: white;
  max-width: 1200px;
}

section {
  margin: 25px 0px;
}

nav {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: #263637;
  color: white;
}

.profile img {
  border-radius: 50%;
  max-width: 175px;
  height: auto;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 3px solid white;
  box-shadow: 0 2px 4px 2px rgba(38, 54, 55, 0.3), inset 0 5px 5px rgba(38, 54, 55, 0.5)
}

.sidebar a {
  display: block;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.sidebar a:hover {
  background-color: white;
  text-decoration: none;
  color: #263637;
}

.banner {
  margin-left: 200px;
}

div.main {
  margin-left: 200px;
  padding: 1px 16px;
}

.row {
  text-align: center;
}

.card {
  margin: 5px;
  border-width: thick;
  border-color: #263637;
}

.list-group-item {
  background-color: #263637;
  color: white;
}

.skills i {
  font-size: 5rem;
  margin-right: 10px;
}

footer {
  background-color: #263637;
  color: white;
  padding-left: 25px 0px 0px 15px;
  text-align: center;
  max-width: 1400px;
}

.contact p {
  margin-bottom: -3px;
  font-size: 1.5rem;
}

.contact-link {
  color: white;
  font-size: 1.5rem;
}

@media screen and (max-width: 700px) {
  nav {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    float: none;
    padding-bottom: 15px;
  }

  div.main,
  .banner,
  footer {
    margin-left: 0;
  }
}