html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: black;
}

h1 {
  font-weight: bold;
  margin: 15px 0px;
  text-align: center;
}

h3 {
  text-decoration: underline;
}

.main {
  color: black;
  background-color: white;
  max-width: 1200px;
}

section {
  margin: 25px 0px;
}

nav {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: black;
  color: white;
}

.profile img{
  border-radius: 50%;
  padding: 10px
}

.sidebar a {
  display: block;
  color: white;
  text-align: center;
  font-weight: bold;
}

.sidebar a.current {
  font-size: 1.2rem;
  background-color: white;
  text-decoration: underline;
  color: black;
}

.sidebar a:hover {
  background-color: white;
  text-decoration: none;
  color: black;
}

.banner {
  margin-left: 200px;
}

div.main {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

footer {
  background-color: black;
  color: white;
  margin-left: 200px;
  padding-left: 15px;
  font-size: .75rem;
}

.contact p {
  margin-bottom: -10px;
}

.fab,
.far,
.contact {
  font-size: 1.5rem;
}

.fab, .far {
  color: white;
}

@media screen and (max-width: 700px) {
  nav {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    float: none;
    padding-bottom: 15px;
  }

  div.main,
  .banner {
    margin-left: 0;
  }

  footer {
    margin-left: 0;
    text-align: center;
    padding: 15px;
  }
}